body{
    background-image: url('../Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.backImg{
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
    overflow: hidden;
    /* position: absolute; */
}
.buttonDiv{
    position: absolute;
    z-index: 100;
    top: 40%;
    text-align: center;
    /* border: 1px solid black; */
    width: 100%;
    align-content: flex-start;
}
.button1, .button2{
    display: block;
    border: 1px solid #525252;
    margin: auto;
    margin-bottom: 5vh;
    border-radius: 0px;
    box-shadow: 1px 1px 3px black ;
}
.button2{
    background-color: #ffb6b9;
    color: #525252;
}
.button1{
    background-color: #5bd1d7;
    color: #525252;
}
.infoIcon{
    border-radius: 40px 40px 90px 174px;
    margin-left: 5%;
}