.mainDiv{
    /* border: 1px solid black; */
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}
.formInput{
    margin: auto;
    margin-bottom: 3vh;
    border: 1px solid #525252;
    box-shadow: 1px 1px 3px #525252;
    border-radius: 0px;
}
.downMainDiv{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.downDiv{
    width: 100%;
    /* border:2px solid blue; */
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: center;
}
.linkDiv{
    width: 100%;
    /* border:2px solid blue; */
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: center;
}
.inputFile{
    /* border:2px solid orange; */
    /* box-shadow: 1px 1px 5px #525252; */
    /* opacity: 0; */
    cursor: pointer;
}
.submit{
    display: block;
    border: 1px solid #525252;
    border-radius: 0px;
    box-shadow: 1px 1px 3px #525252 ;
    background-color: #5bd1d7;
    color: #525252;
    width: max-content;
    white-space: nowrap;
    /* margin: auto; */
}
.uploaded{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    top:0px;
    left: 0;
    position: fixed;
    border: 1px solid black;
}
.uploaded>div>h3{
    color: #5bd1d7;
}
.uploaded>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}